@use '../styles/variables' as *;
@use '../styles/mixins' as *;

.btn {

  text-transform: uppercase;

  &--default { @include retro-btn($text); }
  &--blue    { @include retro-btn($blue); }
  &--pink    { @include retro-btn($pink); }
  &--green   { @include retro-btn($green); }
  &--muted   { @include retro-btn($text-muted); }

  &--full    { width: 100%; }

  &__chevron { margin-left: auto; }
}
